

<template>

	
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" v-model="form.email">
</div>


</template>

<script>

import { required, minLength, between, email } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {

	data() {
		return {

			form: {
				email: '',
				password: '',
				loader: '',
				error: {
					email: null,
					password: null,
					credential: null
				}
			}

		}
	},

	validations: {
		form: {

			email: {
				email,
				required
			},

			password: {
				required,
				minLength: minLength(6)
			}

		}
	},

	methods: {

		test(value) {
			this.age = value
			this.$v.age.$touch()
		},

	}


}

</script>


