
<template>

<div>

	<h1> Resume </h1>
	<FormOne/> 

</div>

</template>


<script>

import { required, minLength, between, email } from 'vuelidate/lib/validators'
import axios from 'axios'
import FormOne from './partials/form_one'

export default {

	components: {
		FormOne
	},

	data() {
		return {

			form: {
				email: '',
				password: '',
				loader: '',
				error: {
					email: null,
					password: null,
					credential: null
				}
			}

		}
	},

	validations: {
		form: {

			email: {
				email,
				required
			},

			password: {
				required,
				minLength: minLength(6)
			}

		}
	},

	methods: {

		test(value) {
			this.age = value
			this.$v.age.$touch()
		},

	}


}

</script>



