
<template>

<div>

<h1 v-if="status"> {{ status }} </h1>

	<h1> Verify email </h1>

	<button @click="submit"> Resend verification </button>

</div>

</template>

<script>

import axios from 'axios'

export default {

	data() {
		return {
			status: null
		}
	},

	methods: {

		submit() {
			let self = this
			axios.post('/email/verification-notification', {

			})
			.then(function (response) {
				self.status = 'verification resend successful'
			})
			.catch(function (error) {
				self.status = 'unable to resend verification try again'
			});
		}
	}


}


</script>






