

<template>


	<div class="container  p-md-4 ">

		<div class="row justify-content-md-center p-md-4 login-container">

			<div class="col-md-auto ">




				<div class="card p-md-3">
					<div class="card-body ">


						<nav class="navbar navbar-expand-lg">

							<div class="container-fluid">

								<a class="navbar-brand light-yellow-site-name p-2 site-name d-none d-md-block" href="/"> <strong> RECRUIT4AFRICA </strong> </a>

								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								</ul>
								<div class="d-flex">
									<ul class="navbar-nav me-auto mb-2 mb-lg-0">

										<li class="card-text sign-up-right-text d-inline nav-item mt-2"> Don’t have an account? <a href="/talent/registration" class="text-warning"> Sign up here </a> </li>

									</ul>

								</div>

							</div>
						</nav>


						<div class="mt-2">
							<h5 class="card-title login-up-text text-center"> Sign in </h5>
						</div>

						<div class="d-flex justify-content-center"> 
							<button class="login-button-linkedin text-center border-0 " type="submit"> <span class="login-up-button-text"> <i class="fa fa-linkedin " aria-hidden="true">  Sign in with Linkedin </i>  </span> </button> 
						</div>
					</div>


					<div class="alert alert-warning" role="alert" v-if="form.error.credential != null">
						{{ form.error.credential[0]  }}
					</div>

					<div class=" p-md-1 ">


						<div class="p-md-3">
							<label for="basic-url" class="form-label sign-up-label"> Email </label>
							<div class="input-group mb-3">
								<span class="input-group-text sign-up-input-group-text border-end-0" id="basic-addon3"> @ </span>
								<input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder=" Email" v-model="form.email">
							</div>
							<p id="emailHelp" class="form-text mt-0 text-warning" v-if="($v.form.email.email) && ($v.form.email.required)"> Looking good.</p> 
							<p  class="form-text mt-0 text-danger" v-if="form.error.email != null"> {{ form.error.email[0]  }} </p>
						</div>


						<div class="p-md-3">
							<label for="basic-url" class="form-label sign-up-label"> Password </label>
							<div class="input-group mb-3">
								<span class="input-group-text sign-up-input-group-text border-end-0" id="basic-addon3"> <i class="fa fa-lock" aria-hidden="true"></i> </span>
								<input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Password" v-model="form.password">
							</div>
							<p id="emailHelp" class="form-text mt-0 text-warning" v-if="($v.form.password.minLength) && ($v.form.password.required)"> Looking good.</p> 
							<p  class="form-text mt-0 text-danger" v-if="form.error.password != null"> {{ form.error.password[0]  }} </p>
						</div>

						<p class="card-text f-p-text-login text-right"> <a href="#" class="f-p-text-login"> Forgot password? </a> </p>


						<div class="d-flex justify-content-center" @click="submit"> 
							<button class="sign-up-button text-center border-0" type="submit" v-if="form.loader == false"> <span class="sign-up-button-text">  SIGN IN </span> </button> 

							<div class="spinner-border"  style="width: 3rem; height: 3rem;" role="status" v-else>
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>


					</div>


				</div>
			</div>


		</div>


	</div>

</div>


</template>


<script>

import { required, minLength, between, email } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {

	data() {
		return {

			form: {
				email: '',
				password: '',
				loader: '',
				error: {
					email: null,
					password: null,
					credential: null
				}
			}

		}
	},

	validations: {
		form: {

			email: {
				email,
				required
			},

			password: {
				required,
				minLength: minLength(6)
			}

		}
	},

	methods: {

		submit() {
			let self = this
			self.form.loader = true
			axios.post('/login', {
				email: this.form.email,
				password: this.form.password,
			})
			.then(function (response) {
				window.location ='/'
			})
			.catch(function (error) {
				self.form.error.email = error.response.data.email
				self.form.error.password = error.response.data.password
				self.form.loader = false
				self.form.error.credential = error.response.data.errors.error_message
			});
		},

		setAge(value) {
			this.age = value
			this.$v.age.$touch()
		}

	}


}

</script>



